In [10]:
s={'A','T','G','C'}
s.add('U')
print(s)

{'T', 'A', 'G', 'C', 'U'}

In [18]:
s={'A','T','G','C'}
s.update('U','B','D')
print(s)

{'D', 'B', 'T', 'A', 'G', 'C', 'U'}

In [20]:
s={'A','T','G','C'}
s.discard('C')
print(s)

{'G', 'T', 'A'}

In [16]:
import pandas as pd

fruits=pd.DataFrame({'Apples':[30],'Bananas':[21]})
print(fruits)

   Apples  Bananas
0      30       21

In [17]:
import pandas as pd
fruit_sales = pd.DataFrame({'Apples':[35,41],'Bananas':[21,34]},
                           index = ['2017 Sales','2018 Sales'])
                            
# Check your answer
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [19]:
import pandas as pd
ingredients = pd.Series(['4cups','1cup','2 large','1can'],index =['Flour','Milk','Eggs','Spam'],name ='Dinner')

# Check your answer

ingredients

Flour      4cups
Milk        1cup
Eggs     2 large
Spam        1can
Name: Dinner, dtype: object

In [ ]:
#read csv files
import pandas as pd
review = pd.read_csv('file path')

#length of dataframes
review.shape()
#first 5 rows shown
review.head()

In [3]:
#saving dataframe to csv in disk to_csv() function
import pandas as pd
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals.to_csv('cows_and_goats.csv')
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19